In [ ]:
# 데이터 불러오기

import pandas as pd
import numpy as np
import math
import pymysql
from sqlalchemy import create_engine, types 

# DB 커넥션 열기
address = 'oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl'
engine = create_engine(address)

# DB 테이블을 읽어 Data Frame 변수에 저장하기
#query = 'SELECT * FROM KOPO_CHANNEL_SEASONALITY_NEW'
query = "SELECT REGIONID, PRODUCT, YEARWEEK\
            ,SUBSTR(YEARWEEK,5,2) AS WEEK\
            ,CASE WHEN QTY<0 THEN 0\
            ELSE QTY END AS QTY\
            FROM KOPO_CHANNEL_SEASONALITY_NEW\
            WHERE SUBSTR(YEARWEEK,5,2) <= 52"
data_cleansed = pd.read_sql_query(query, engine)

# 컬럼헤더 재정의
data_cleansed.columns = [x.upper() for x in data_cleansed.columns]

print(data_cleansed.head())
print(data_cleansed.count())

In [2]:
# 이동평균구간 정의

window1 = 17
window2 = 5

In [3]:
# 이동평균 함수 (data: 값 데이터, win: 이동평균구간, newCol: 이동평균컬럼(신규 생성), refCol: 참조칼럼)

def ma_function(data, win, newCol, refCol):
    data = data.reset_index(drop = True)

    data[newCol] = data[refCol].rolling(window = win, center = True).mean()
    
    suborder = math.floor((win - 1) / 2)
    length = len(data)
    
    list1 = []
    for i in range(0, suborder):
        list1.append(data[refCol][0:(suborder+1)+i].mean())
        data[newCol][i] = list1[i]
    
    list2 = []
    for i in range(0, suborder):
        list2.append(data[refCol][(length - 2*suborder + i):(length)].mean())
        data[newCol][length - suborder + i] = list2[i]
    
    return data

In [4]:
# 이동표준편차 함수 (data: 값 데이터, win: 이동표준편차구간, newCol: 이동표준편차컬럼(신규 생성), refCol: 참조칼럼)

def mstddev_function(data, win, newCol, refCol):
    data = data.reset_index(drop = True)

    data[newCol] = data[refCol].rolling(window = win, center = True).std()
    
    suborder = math.floor((win - 1) / 2)
    length = len(data)
    
    list1 = []
    for i in range(0, suborder):
        list1.append(data[refCol][0:(suborder+1)+i].std())
        data[newCol][i] = list1[i]
    
    list2 = []
    for i in range(0, suborder):
        list2.append(data[refCol][(length - 2*suborder + i):(length)].std())
        data[newCol][length - suborder + i] = list2[i]
    
    return data

In [5]:
# 테이블 정렬하기 (group by 준비)

sortedDataPre =data_cleansed.sort_values(["REGIONID", "PRODUCT", "YEARWEEK"], ascending=[True, True, True])
sortedData = sortedDataPre.reset_index(drop = True)
sortedData.head()

  REGIONID    PRODUCT YEARWEEK WEEK    QTY
0      A00  PRODUCT34   201401   01  661.0
1      A00  PRODUCT34   201402   02  679.0
2      A00  PRODUCT34   201403   03  578.0
3      A00  PRODUCT34   201404   04  532.0
4      A00  PRODUCT34   201405   05  516.0

In [6]:
# group by 이동평균 구하기 (MA)

data_ma = sortedData.groupby(['REGIONID', 'PRODUCT']).apply(ma_function, window1, "MA", "QTY")

print(data_ma.head())

                     REGIONID    PRODUCT YEARWEEK WEEK    QTY          MA
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34   201401   01  661.0  514.444444
                   1      A00  PRODUCT34   201402   02  679.0  516.800000
                   2      A00  PRODUCT34   201403   03  578.0  503.363636
                   3      A00  PRODUCT34   201404   04  532.0  490.750000
                   4      A00  PRODUCT34   201405   05  516.0  480.230769

In [7]:
# 테이블 정렬하기 (group by 준비)

sortedDataPre =data_ma.sort_values(["REGIONID", "PRODUCT", "YEARWEEK"], ascending=[True, True, True])
sortedData = sortedDataPre.reset_index(drop = True)
sortedData.head()

  REGIONID    PRODUCT YEARWEEK WEEK    QTY          MA
0      A00  PRODUCT34   201401   01  661.0  514.444444
1      A00  PRODUCT34   201402   02  679.0  516.800000
2      A00  PRODUCT34   201403   03  578.0  503.363636
3      A00  PRODUCT34   201404   04  532.0  490.750000
4      A00  PRODUCT34   201405   05  516.0  480.230769

In [8]:
# group by 이동표준편차 구하기 (MSTDDEV)

data_mstddev = sortedData.groupby(['REGIONID', 'PRODUCT']).apply(mstddev_function, window2, "MSTDDEV", "MA")

print(data_mstddev.head())

                     REGIONID    PRODUCT YEARWEEK WEEK    QTY          MA  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34   201401   01  661.0  514.444444
                   1      A00  PRODUCT34   201402   02  679.0  516.800000
                   2      A00  PRODUCT34   201403   03  578.0  503.363636
                   3      A00  PRODUCT34   201404   04  532.0  490.750000
                   4      A00  PRODUCT34   201405   05  516.0  480.230769

                        MSTDDEV
REGIONID PRODUCT
A00      PRODUCT34 0   7.174827
                   1  11.930360
                   2  15.591135
                   3  19.038957
                   4  18.335094

In [9]:
# 판매량 정제

data_mstddev["UPPER_BOUND"] = data_mstddev.MA + data_mstddev.MSTDDEV
data_mstddev["LOWER_BOUND"] = data_mstddev.MA - data_mstddev.MSTDDEV

data_mstddev["REFINED"] = np.where(data_mstddev.QTY > data_mstddev.UPPER_BOUND, data_mstddev.UPPER_BOUND,\
                                   np.where(data_mstddev.QTY < data_mstddev.LOWER_BOUND, data_mstddev.LOWER_BOUND,\
                                           data_mstddev.QTY))

data_refined = data_mstddev

print(data_refined.head())

                     REGIONID    PRODUCT YEARWEEK WEEK    QTY          MA  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34   201401   01  661.0  514.444444
                   1      A00  PRODUCT34   201402   02  679.0  516.800000
                   2      A00  PRODUCT34   201403   03  578.0  503.363636
                   3      A00  PRODUCT34   201404   04  532.0  490.750000
                   4      A00  PRODUCT34   201405   05  516.0  480.230769

                        MSTDDEV  UPPER_BOUND  LOWER_BOUND     REFINED
REGIONID PRODUCT
A00      PRODUCT34 0   7.174827   521.619271   507.269618  521.619271
                   1  11.930360   528.730360   504.869640  528.730360
                   2  15.591135   518.954771   487.772501  518.954771
                   3  19.038957   509.788957   471.711043  509.788957
                   4  18.335094   498.565864   461.895675  498.565864

In [10]:
# 테이블 정렬하기 (group by 준비)

sortedDataPre =data_refined.sort_values(["REGIONID", "PRODUCT", "YEARWEEK"], ascending=[True, True, True])
sortedData = sortedDataPre.reset_index(drop = True)
sortedData.head()

,REGIONID,PRODUCT,YEARWEEK,WEEK,QTY,MA,MSTDDEV,UPPER_BOUND,LOWER_BOUND,REFINED
0,A00,PRODUCT34,201401,01,661.0,514.444444,7.174827,521.619271,507.269618,521.619271
1,A00,PRODUCT34,201402,02,679.0,516.800000,11.930360,528.730360,504.869640,528.730360
2,A00,PRODUCT34,201403,03,578.0,503.363636,15.591135,518.954771,487.772501,518.954771
3,A00,PRODUCT34,201404,04,532.0,490.750000,19.038957,509.788957,471.711043,509.788957
4,A00,PRODUCT34,201405,05,516.0,480.230769,18.335094,498.565864,461.895675,498.565864

In [11]:
# group by 이동평균 구하기 (SMOOTHED)

data_smoothed = sortedData.groupby(['REGIONID', 'PRODUCT']).apply(ma_function, window2, "SMOOTHED", "REFINED")

print(data_smoothed.head())

                     REGIONID    PRODUCT YEARWEEK WEEK    QTY          MA  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34   201401   01  661.0  514.444444
                   1      A00  PRODUCT34   201402   02  679.0  516.800000
                   2      A00  PRODUCT34   201403   03  578.0  503.363636
                   3      A00  PRODUCT34   201404   04  532.0  490.750000
                   4      A00  PRODUCT34   201405   05  516.0  480.230769

                        MSTDDEV  UPPER_BOUND  LOWER_BOUND     REFINED  \
REGIONID PRODUCT
A00      PRODUCT34 0   7.174827   521.619271   507.269618  521.619271
                   1  11.930360   528.730360   504.869640  528.730360
                   2  15.591135   518.954771   487.772501  518.954771
                   3  19.038957   509.788957   471.711043  509.788957
                   4  18.335094   498.565864   461.895675  498.565864

                        SMOOTHED
REGIONID PRODUCT
A00      PRODUCT34 0  523.101467
                   1  519.773340
                   2  515.531844
                   3  501.266776
                   4  483.197016

In [12]:
# 주차별 계절성 지수 구하기 (연도별+주차별)
# S_INDEX_1: Stable Market / S_INDEX_2: Unstable Market

data_smoothed["S_INDEX_1"] = np.where(data_smoothed.SMOOTHED == 0, 1, data_smoothed.QTY / data_smoothed.SMOOTHED)
data_smoothed["S_INDEX_2"] = np.where(data_smoothed.SMOOTHED == 0, 1, data_smoothed.REFINED / data_smoothed.SMOOTHED)

data_seasonal = data_smoothed
print(data_seasonal.head())

                     REGIONID    PRODUCT YEARWEEK WEEK    QTY          MA  \
REGIONID PRODUCT
A00      PRODUCT34 0      A00  PRODUCT34   201401   01  661.0  514.444444
                   1      A00  PRODUCT34   201402   02  679.0  516.800000
                   2      A00  PRODUCT34   201403   03  578.0  503.363636
                   3      A00  PRODUCT34   201404   04  532.0  490.750000
                   4      A00  PRODUCT34   201405   05  516.0  480.230769

                        MSTDDEV  UPPER_BOUND  LOWER_BOUND     REFINED  \
REGIONID PRODUCT
A00      PRODUCT34 0   7.174827   521.619271   507.269618  521.619271
                   1  11.930360   528.730360   504.869640  528.730360
                   2  15.591135   518.954771   487.772501  518.954771
                   3  19.038957   509.788957   471.711043  509.788957
                   4  18.335094   498.565864   461.895675  498.565864

                        SMOOTHED  S_INDEX_1  S_INDEX_2
REGIONID PRODUCT
A00      PRODUCT34 0  523.101467   1.263617   0.997167
                   1  519.773340   1.306339   1.017233
                   2  515.531844   1.121172   1.006640
                   3  501.266776   1.061311   1.017001
                   4  483.197016   1.067887   1.031807

In [13]:
data_seasonal_final = data_seasonal.groupby(['REGIONID', 'PRODUCT', 'WEEK'], as_index=False)['S_INDEX_1', 'S_INDEX_2'].mean()

print(data_seasonal_final.head())

  REGIONID    PRODUCT WEEK  S_INDEX_1  S_INDEX_2
0      A00  PRODUCT34   01   0.925921   1.007457
1      A00  PRODUCT34   02   1.066544   1.004847
2      A00  PRODUCT34   03   0.823138   0.967281
3      A00  PRODUCT34   04   1.020030   1.046380
4      A00  PRODUCT34   05   0.736577   1.000996

c:\programdata\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'REGIONID' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.
c:\programdata\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: 'PRODUCT' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [14]:
data_seasonal_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41288 entries, 0 to 41287
Data columns (total 5 columns):
REGIONID     41288 non-null object
PRODUCT      41288 non-null object
WEEK         41288 non-null object
S_INDEX_1    41288 non-null float64
S_INDEX_2    41288 non-null float64
dtypes: float64(2), object(3)
memory usage: 1.9+ MB

In [15]:
# DB 저장 속도 향상을 위해 object형 자료를 CLOB이 아닌 VARCHAR로 저장

to_varchar = {c:types.VARCHAR(data_seasonal_final[c].str.len().max()) \
        for c in data_seasonal_final.columns[data_seasonal_final.dtypes == 'object'].tolist()}

In [16]:
# CSV 파일로 저장
output_address = '../dataset/team3_data_seasonal_final.csv'
data_seasonal_final.to_csv(output_address, index=False)
data_seasonal_final.head()

  REGIONID    PRODUCT WEEK  S_INDEX_1  S_INDEX_2
0      A00  PRODUCT34   01   0.925921   1.007457
1      A00  PRODUCT34   02   1.066544   1.004847
2      A00  PRODUCT34   03   0.823138   0.967281
3      A00  PRODUCT34   04   1.020030   1.046380
4      A00  PRODUCT34   05   0.736577   1.000996

In [17]:
# 데이터 저장: Oracle DB에 저장

resultname='team3_seasonality_final'
data_seasonal_final.to_sql(resultname, engine, if_exists='replace', index=False, dtype=to_varchar)

In [ ]:
# 데이터 저장: PostgreSQL DB에 저장

# DB 커넥션 열기
address_p = 'postgresql://kopo:kopo@192.168.110.111:5432/kopo'
engine_p = create_engine(address_p)

resultname='seasonality_final2'
data_seasonal_final.to_sql(resultname, engine_p, if_exists='replace', index=False, dtype=to_varchar)

In [ ]:
# 데이터 저장: mySQL DB에 저장

# DB 커넥션 열기
address_m = 'mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo'
engine_m = create_engine(address_m)

resultname='seasonality_final2'
data_seasonal_final.to_sql(resultname, engine_m, if_exists='replace', index=False, dtype=to_varchar)