# Sec 2018W28 250 문자열 생성 후 stock_name , date , value로 각각 의미하는 문자열을 생성하세요.(단 모두 대문자여야 하며 , 'W'를 삭제해야함)

In [1]:
A = "Sec 2018W28 250"

In [2]:
A_split = A.upper().split(" ")

In [3]:
A_split

['SEC', '2018W28', '250']

In [4]:
stockname = A_split[0]
date = A_split[1]
value = A_split[2]

In [5]:
print(stockname)
print(date)
print(value)

SEC
2018W28
250

# [120,150,300,500,1000,100,2000]
값에서 최소 최대 값을 뺀 평균 averagelist를 구하세요.

In [7]:
List = [120,150,300,500,1000,100,2000]

In [3]:
minValue = min(List)
print(minValue)

100

In [4]:
maxValue = max(List)
print(maxValue)

2000

In [10]:
List.pop(List.index(minValue))
List.pop(List.index(maxValue))
print(List)

[120, 150, 300, 500, 1000]

#평균 계산

In [11]:
averageSum = sum(List)
averageCount = len(List)

average =averageSum/averageCount
print(average)

414.0

# dic = {"name":"sec","id":"300000","address":"suwon"}
에서 id를 삭제하여 출력하세요{'name': 'sec', 'address': 'suwon’}

In [6]:
dic = {"name":"sec","id":"300000","address":"suwon"}
del dic["id"]
print(dic)

{'name': 'sec', 'address': 'suwon'}