# CSV파일 불러오기

In [2]:
import pandas as pd
#CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")
#컬럼헤더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']
# 데이터 VIEW 

#CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", index=False)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

# 오라클 데이터베이스 불러오기

In [2]:
import pandas as pd
from sqlalchemy import create_engine 

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine)
                       
# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']
                       
# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='oracleresult'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

# Mysql Connection

In [10]:
#PANDAS 패키지 불러오기
import pandas as pd
from sqlalchemy import create_engine

# DB 커넥션 열기
#engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 커넥션 열기
engine2 = create_engine('mysql+pymysql://root:P@ssw0rd@192.168.110.112:3306/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine2)

# 컬럼해더 재정의
#customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='customerdata'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  T11473  4165.700000    3          6.7    1.780674  Big-Screen-lover
1  T11512  3428.518977    2          4.7    3.483573      Sleeping-dog
2  T12735  3993.263836    2          4.8    2.535829      Sleeping-dog
3  T13866  3732.900000    2          5.1    2.812051  Big-Screen-lover
4  T16556  3166.013276    2          6.4    0.900000        Early-bird