### CSV Connection

In [1]:
pwd

'C:\\Users\\SMART-00\\Python Session\\Session3 - Learning basic grammar and data import'

In [104]:
# PANDAS 패키지 불러오기
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
elecData = pd.read_excel("d:/elec_data.xlsx")

# NAME컬럼만 선택
names = elecData.iloc[:,0:]
names

                    name
0                김의진,박승진
1                김의진,정경화
2               김의진, 박승진
3                김의진,박승진
4   \r\n\r\n\r\n김의진, 오미진
5               김의진, 오미진
6               박승진, 김의진
7                정경화,김의진
8                   김의진,
9                황원용,김효관
10              김의진, 신성우
11               김의진,김도운
12              김의진, 조정연
13              오미진, 조정연
14              김의진, 신성우
15              신성우, 김의진
16             김의진 , 신성우
17          정효재 님, 하태양 님
18              채성은, 정경화
19              조정연, 박승진
20              김의진, 김지성
21              이한민, 오미진
22             박승진 , 김의진
23               김의진,정유석

In [106]:
names

                    name
0                김의진,박승진
1                김의진,정경화
2               김의진, 박승진
3                김의진,박승진
4   \r\n\r\n\r\n김의진, 오미진
5               김의진, 오미진
6               박승진, 김의진
7                정경화,김의진
8                   김의진,
9                황원용,김효관
10              김의진, 신성우
11               김의진,김도운
12              김의진, 조정연
13              오미진, 조정연
14              김의진, 신성우
15              신성우, 김의진
16             김의진 , 신성우
17          정효재 님, 하태양 님
18              채성은, 정경화
19              조정연, 박승진
20              김의진, 김지성
21              이한민, 오미진
22             박승진 , 김의진
23               김의진,정유석

In [115]:
# PANDAS 패키지 불러오기
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
elecData = pd.read_excel("d:/elec_data.xlsx")

# NAME컬럼만 선택
names = elecData['name']

# 이름값만 추출하여 리스트에 저장
emptyList = []
names.head()

name = names[0].split(",")
len(name)
    for row in name:
        emptyList.append(row)


#for name in names:

2

In [110]:
# PANDAS 패키지 불러오기
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
elecData = pd.read_excel("d:/elec_data.xlsx")

# NAME컬럼만 선택
names = elecData['name']

# 이름값만 추출하여 리스트에 저장
emptyList = []
for name in names:
    rows = name.strip().replace("'","").replace("님","").split(",")
    #emptyList.append()
    for row in rows:
        # 만약 NULL 이면 APPEND 하지 않는다면 NULL 값 자동 제거됨
        emptyList.append(row.strip())

## 리스트 -> 데이터프레임 변환
refinedData = pd.DataFrame(emptyList, columns=["NAME"])

## null 처리
finalResult = refinedData[refinedData['NAME'] != ""]

finalResult.head()

  NAME
0  김의진
1  박승진
2  김의진
3  정경화
4  김의진

In [116]:
# PANDAS 패키지 불러오기
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
elecData = pd.read_excel("d:/elec_data.xlsx")

# 컬럼해더 재정의
#elecData.columns = ['EMAIL','NAME']
# NAME컬럼만 선택
names = elecData.iloc[1]

# 이름값만 추출하여 리스트에 저장
emptyList = []
for name in names:
    rows = name.strip().replace("'","").replace("님","").split(",")
    #emptyList.append()
    for row in rows:
        # 만약 NULL 이면 APPEND 하지 않는다면 NULL 값 자동 제거됨
        emptyList.append(row.strip())
        
emptyList

## NULL 값 정제
refinedData = pd.DataFrame(emptyList, columns=["NAME"])
refinedData
finalResult = refinedData[refinedData['NAME'] != ""]

# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 
print(finalResult.dtypes)
# 데이터 저장
resultname='ELECRESULT2'
finalResult.to_sql(resultname, engine, if_exists='replace', index=False,  dtype={'NAME': sqlalchemy.types.VARCHAR(length=20) })

NAME    object
dtype: object

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(oracle+cx_oracle://kopo:***@192.168.110.112:1521/orcl): (ELECRESULT2)

In [117]:
pwd

'C:\\Users\\SMART-00\\Python Session\\Session3 - Learning basic grammar and data import'

In [ ]:
refinedData.query()

In [45]:
a  ='김의진,박승진'
test = a.strip().replace("'","").split(",")
type(test[0])

str

In [29]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
elecData = pd.read_excel("d:/elec_data.xlsx")
elecData
# 컬럼해더 재정의
elecData.columns = ['EMAIL','NAME']
names = elecData['NAME']
refinedNames = []


for in names:
    refinedNames[].ap

'김의진,박승진'

In [4]:
# PANDAS 패키지 불러오기
import pandas as pd
 
# CSV 파일을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_csv("../dataset/customerdata.csv")

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
    
# CSV 파일로 저장
customerData.to_csv("../dataset/customerdata_out.csv", encoding='utf-8-sig', index=False)
customerData.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### Oracle connection

In [6]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM customerdata', engine) 

# 컬럼해더 재정의
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUSTTYPE']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='oracleresult'
customerData.to_sql(resultname, engine, if_exists='replace', index=False)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

In [4]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@127.0.0.1:1521/xe') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

# 컬럼해더 재정의
customerData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
engine2 = create_engine('mysql+pymysql://kopo:kopo1234@kopo2.cf0xvfbyuytw.us-east-1.rds.amazonaws.com:3306/kopo') 
resultname='kopo_product_volume'
customerData.to_sql(resultname, engine2, if_exists='replace', index=False)

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0002   201512  151750
1      A01       ST0001   201520  645626
2      A01       ST0002   201520  125863
3      A01       ST0001   201515  810144
4      A01       ST0002   201515  128999

### Mysql connection

In [1]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymysql 
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo1234@kopo2.cf0xvfbyuytw.us-east-1.rds.amazonaws.com:3306/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
storeData = pd.read_sql_query('SELECT * FROM store_location', engine) 
storeData.head()

                  cs_name         lng        lat
0  coffeekorea_seulleng93  127.047883  37.505675
1                 propose  126.899220  37.471711
2    singsingcoffee_toast  128.980455  35.159774
3            warawara_hof  127.061026  37.493922
4                    test  126.715710  37.460813

In [11]:
# 컬럼해더 재정의
storeData.columns = ['CS_NAME','LNG','LAT']

# 데이터 VIEW
print(storeData)

# 데이터 저장
resultname='mysqlresult'
storeData.to_sql(resultname, engine, if_exists='replace', index=False)

                  CS_NAME         LNG         LAT
0  coffeekorea_seulleng93  127.047883   37.505675
1                 propose  126.899220   37.471711
2    singsingcoffee_toast  128.980455   35.159774
3            warawara_hof  127.061026   37.493922
4                    test  126.715710   37.460813
5        polytech_kangseo   37.549506  126.840918
6       polytech_kangseo2  126.840918   37.549506

### Sql Server

In [1]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine_oracle = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 
engine_mssql = create_engine('mssql+pymssql://haiteam:kopo1234!@192.168.0.6:1433/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
customerData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine_oracle) 

# 컬럼해더 재정의
customerData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# 데이터 VIEW
print(customerData.head())

# 데이터 저장
resultname='KOPO_PRODUCT_VOLUME'
customerData.to_sql(resultname, engine_mssql, if_exists='replace', index=False)

  REGIONID PRODUCTGROUP YEARWEEK  VOLUME
0      A01       ST0001   201501  513598
1      A01       ST0001   201502  438251
2      A01       ST0001   201503  420290
3      A01       ST0001   201504  458431
4      A01       ST0001   201505  482381

OperationalError: (pymssql.OperationalError) (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (192.168.0.6:1433)\nNet-Lib error during Unknown error (10060)\n') (Background on this error at: http://sqlalche.me/e/e3q8)

In [1]:
a=3
b=5
print(a+b)

8

In [52]:
# PANDAS 패키지 불러오기
import pandas as pd 
import pymssql 
from sqlalchemy import create_engine 
 
def executeQuery(sql_query):
    connection_string = 'mssql+pymssql://haiteam:kopo1234!@192.168.110.107:1433/kopo'
    engine = create_engine(connection_string)

    df = pd.read_sql(sql_query, engine)

    return df

# DB 테이블을 읽어 Data Frame 변수에 저장하기
storeData =executeQuery("select * from kopo_product_volume")
storeData.head()

OperationalError: (pymssql.OperationalError) (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (192.168.110.107:1433)\nNet-Lib error during Unknown error (10060)\n') (Background on this error at: http://sqlalche.me/e/e3q8)

In [28]:
import requests, bs4, pandas as pd
#웹페이지 html 소스 가져오기
resp = requests.get('http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

for i in  bs

bs4.element.Tag

### Data load from web

In [3]:
import requests, bs4, pandas as pd
#웹페이지 html 소스 가져오기
resp = requests.get('http://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 구조 태그로 가져오기
title = bs.find("title").text
wf = bs.find("wf").text
print(title)
print(wf)

기상청 육상 중기예보
이번 예보기간에는 고기압의 영향으로 대체로 맑은 날이 많겠습니다.  <br />기온은 평년(최저기온: 15~20도, 최고기온: 22~29도)과 전반에는 비슷하겠고, 후반에는 조금 높겠습니다.<br />강수량은 평년(3~19mm)보다 적겠습니다.

### 1. 태그 찾기 - find

In [4]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'

In [7]:
resp.text
bs = bs4.BeautifulSoup(html, "html.parser")
bs

<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
<channel>
<title>기상청 육상 중기예보</title>
<link/>http://www.kma.go.kr/weather/forecast/mid-term_01.jsp
<description>기상청 날씨 웹서비스</description>
<language>ko</language>
<generator>기상청</generator>
<pubdate>2018년 06월 14일 (목)요일 06:00</pubdate>
<item>
<author>기상청</author>
<category>육상중기예보</category>
<title>전국 육상 중기예보 - 2018년 06월 14일 (목)요일 06:00 발표</title>
<link/>http://www.kma.go.kr/weather/forecast/mid-term_01.jsp
<guid>http://www.kma.go.kr/weather/forecast/mid-term_01.jsp</guid>
<description>
<header>
<title>전국 육상중기예보</title>
<tm>201806140600</tm>
<wf><![CDATA[이번 예보기간에는 고기압의 영향으로 대체로 맑은 날이 많겠습니다.  <br />기온은 평년(최저기온: 15~20도, 최고기온: 22~29도)과 전반에는 비슷하겠고, 후반에는 조금 높겠습니다.<br />강수량은 평년(3~19mm)보다 적겠습니다.]]></wf>
</header>
<body>
<location wl_ver="3">
<province>서울ㆍ인천ㆍ경기도</province>
<city>서울</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>21</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>21</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>21</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>서울ㆍ인천ㆍ경기도</province>
<city>인천</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>18</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>19</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>19</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>19</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>서울ㆍ인천ㆍ경기도</province>
<city>수원</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>서울ㆍ인천ㆍ경기도</province>
<city>파주</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>16</tmn>
<tmx>27</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>16</tmn>
<tmx>27</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>강원도영서</province>
<city>춘천</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>16</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>16</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>19</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>강원도영서</province>
<city>원주</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>16</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>16</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>강원도영동</province>
<city>강릉</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름많음</wf>
<tmn>16</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>16</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>25</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>21</tmn>
<tmx>27</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>21</tmn>
<tmx>27</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>21</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>21</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>26</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>대전ㆍ세종ㆍ충청남도</province>
<city>대전</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>21</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>대전ㆍ세종ㆍ충청남도</province>
<city>세종</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>16</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>16</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>대전ㆍ세종ㆍ충청남도</province>
<city>홍성</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>27</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>17</tmn>
<tmx>27</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>18</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 00:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-21 12:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-22 00:00</tmef>
<wf>구름많음</wf>
<tmn>21</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-23 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A01</mode>
<tmef>2018-06-24 00:00</tmef>
<wf>구름많음</wf>
<tmn>20</tmn>
<tmx>28</tmx>
<reliability>보통</reliability>
</data>
</location>
<location wl_ver="3">
<province>충청북도</province>
<city>청주</city>
<data>
<mode>A02</mode>
<tmef>2018-06-17 00:00</tmef>
<wf>구름조금</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-17 12:00</tmef>
<wf>구름많음</wf>
<tmn>17</tmn>
<tmx>29</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 00:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-18 12:00</tmef>
<wf>구름조금</wf>
<tmn>19</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 00:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-19 12:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>
</data>
<data>
<mode>A02</mode>
<tmef>2018-06-20 00:00</tmef>
<wf>구름조금</wf>
<tmn>20</tmn>
<tmx>30</tmx>
<reliability>보통</reliability>

In [10]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_tag = bs.findAll("div")
print(find_tag)

[<div class="class_py_quiz" id="id_py_quiz">
<h1>Python 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link"> 6/14 파이썬 데이터 불러오기/저장하기 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link"> 6/8 postgres 과제 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link"> 6/8 파이썬 제어문 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link"> 6/7 파이썬 자료형 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link"> 5/31 파이썬 머신러닝 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link"> 5/24 파이썬 시작하기 </a>
<p></p>
</div>, <div class="class_sp_quiz" id="id_sp_quiz">
<h1>Spark 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link"> 5/3 Spark 심화과정-groupby</a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link"> 4/27 Spark 심화과정 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link"> 4/12 Spark 기본과정 </a>
<p></p>
</div>, <div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>]

In [5]:
resp.status_code

200

In [15]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_tag = bs.findAll("div")
print(find_tag)

[<div class="class_py_quiz" id="id_py_quiz">
<h1>Python 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link"> 6/8 postgres 과제 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link"> 6/8 파이썬 제어문 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link"> 6/7 파이썬 자료형 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link"> 5/31 파이썬 머신러닝 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link"> 5/24 파이썬 시작하기 </a>
<p></p>
</div>, <div class="class_sp_quiz" id="id_sp_quiz">
<h1>Spark 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link"> 5/3 Spark 심화과정-groupby</a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link"> 4/27 Spark 심화과정 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link"> 4/12 Spark 기본과정 </a>
<p></p>
</div>, <div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>]

In [14]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 태그 속성으로 찾기
find_attr = bs.find("div",{"class":"class_db_quiz"})
print(find_attr)

<div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>

In [14]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_tag = bs.find("div")
print(find_tag)

<div class="class_py_quiz" id="id_py_quiz">
<h1>Python 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link"> 6/8 postgres 과제 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link"> 6/8 파이썬 제어문 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link"> 6/7 파이썬 자료형 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link"> 5/31 파이썬 머신러닝 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link"> 5/24 파이썬 시작하기 </a>
<p></p>
</div>

### 2. 속성 찾기 - find

In [47]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 태그 속성으로 찾기
find_attr = bs.find("div",{"id":"id_db_quiz"})
print(find_attr)

<div class="class_db_quiz" id="id_db_quiz">
<h1>데이터베이스 퀴즈 </h1>
<a href="https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link"> 6/5 오라클 GroupBy 퀴즈 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link"> 5/29 오라클 숫자/날짜 및 고급함수 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link"> 5/15 오라클 데이터 조회(함수활용)  </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link"> 5/8 오라클 원격접속 및 조회 </a>
<p></p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link"> 4/10 무결성 제약조건 </a>
</div>

### 3. 태그내 dom 부분구조 찾기

In [17]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_attr = bs.find("div",{"id":"id_db_quiz"})
find_part = find_attr.find("a")
print(find_part)

<a href="https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link"> 6/12 오라클 Join 퀴즈 </a>

### 4. DOM 구조 내 속성 찾기

In [20]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
find_part = bs.find("div",{"id":"id_db_quiz"})
# 링크내 속성 가져오기
link = find_part.find("a")
print(find_part.find("a").attrs['href'])

https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link

### 실습 링크 속성 추출하기

In [30]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
a_links = bs.findAll("a")
for a in a_links:
    href= a.attrs["href"]
    print(href)

/
/quiz
/maps/add
/maps
/maps/geomap
/maps/chart
/maps/chartLine
/maps/gitList
/test
https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link

In [ ]:
 href= a.attrs["href"]
    print(href)

In [31]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
a_links = bs.findAll("a")
for a in a_links:
    #a 링크 내 href 속성
    href=a.attrs["href"]
    #a 링크 텍스트
    text = a.text
    if(href.startswith("/")):
        continue;
    print(text, ">", href)

 6/14 파이썬 데이터 불러오기/저장하기  > https://docs.google.com/forms/d/e/1FAIpQLScoGQuidGNCFerQZ6Dw5t6PndPPT62EvrncPLL3xLUfulRTyA/viewform?usp=sf_link
 6/8 postgres 과제  > https://docs.google.com/forms/d/e/1FAIpQLSftZ-2VYfHB46FrwFG2HjbRDBtLSO0XP2BmiHh3iqwGoi3pQQ/viewform?usp=sf_link
 6/8 파이썬 제어문  > https://docs.google.com/forms/d/e/1FAIpQLSeZBKjrZD1nAf4aAYhz_WEAqbzwPUPihgMEfXy74e0IMRwXKw/viewform?usp=sf_link
 6/7 파이썬 자료형  > https://docs.google.com/forms/d/e/1FAIpQLSdvFbZGNm7rSGQO_daDSWHC8o1BNgZtIBajLaiOcvgV2iV0IA/viewform?usp=sf_link
 5/31 파이썬 머신러닝  > https://docs.google.com/forms/d/e/1FAIpQLSehRuBYKpXNULxkamM8zVOd_mkFwZYwKtAp8Px0Kl0oCJbIeA/viewform?usp=sf_link
 5/24 파이썬 시작하기  > https://docs.google.com/forms/d/e/1FAIpQLSeVt843wk9MBxLj0N84q_8Vg4yL1jTrOygA5Cm3z-asPDY1sg/viewform?usp=sf_link
 5/3 Spark 심화과정-groupby > https://docs.google.com/forms/d/e/1FAIpQLScsDv_0mTFuJMqGfvrdjFAxVdeGOBpo8wOQSm5OiW1XcdBDFg/viewform?usp=sf_link
 4/27 Spark 심화과정  > https://docs.google.com/forms/d/e/1FAIpQLSdNCn-NrLuFse4w2C36vqRPGUXtXDDsfLLxm-Sv9E7PwRwbrQ/viewform?usp=sf_link
 4/12 Spark 기본과정  > https://docs.google.com/forms/d/e/1FAIpQLSdfsGBmTFPfhZfFsKAOBOWx_x6f3mouhggIaYXbjW4EHbnBdA/viewform?usp=sf_link
 6/12 오라클 Join 퀴즈  > https://docs.google.com/forms/d/e/1FAIpQLSff5TjqUq9u-jRxYZvTdB7k-N0AEjx0_WSIcLZCBfFiEfoRUA/viewform?usp=sf_link
 6/5 오라클 GroupBy 퀴즈  > https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link
 5/29 오라클 숫자/날짜 및 고급함수  > https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link
 5/15 오라클 데이터 조회(함수활용)   > https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link
 5/8 오라클 원격접속 및 조회  > https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link
 4/10 무결성 제약조건  > https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link

In [32]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get("http://finance.naver.com/marketindex/")
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# 데이터 추출하기
price = bs.select_one("div.head_info > span.value").string
print("usd/krw= ", price)

# 리스트 초기화 및 데이터 담기
outList = []
outList.append(price)

# 리스트 pandas 데이터 프레임으로 변환 및 컬럼 정의
outDf = pd.DataFrame(np.array(outList).reshape(1,1))
outDf.columns = ['title']
# CSV 파일로 저장, encondig 한글깨짐 방지
#outDf.to_csv("../dataset/webData.csv", encoding='utf-8-sig',index=False)
outDf

usd/krw=  1,083.00

      title
0  1,083.00

### 테이블

In [38]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')
# html 부분구조 가져오기
columns=bs.select('table > thead > tr > th')
columns
type(columns)

list

In [39]:
columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)
df

Empty DataFrame
Columns: [geo_name, longitude, latitude, Action]
Index: []

In [40]:
contents=bs.select('table  > tbody > tr#trbody')
contents

[<tr id="trbody">
 <td>polytech_kangseo2</td>
 <td>126.840918</td>
 <td>37.549506</td>
 <td>
 <div style="float:left">
 <a href="/maps/edit/6">Edit</a>
                     <form action="/maps/delete/6" method="post" style="float:right">
 <input name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit" value="Delete"/>
 <input name="_method" type="hidden" value="DELETE"/>
 </form>
 </div>
 </td>
 </tr>, <tr id="trbody">
 <td>coffeekorea_seulleng</td>
 <td>127.0478832</td>
 <td>37.50567504</td>
 <td>
 <div style="float:left">
 <a href="/maps/edit/5">Edit</a>
                     <form action="/maps/delete/5" method="post" style="float:right">
 <input name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit" value="Delete"/>
 <input name="_method" type="hidden" value="DELETE"/>
 </form>
 </div>
 </td>
 </tr>]

In [42]:
contents=bs.select('table  > tbody > tr#trbody')
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(data=alldfcontents)
df

#columns=columnlist,

,0,1,2,3
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

In [45]:
df.columns = ['aa','bb','cc','dd']
df

,aa,bb,cc,dd
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

In [37]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
columns=soup.select('table  > tr > th')
columns

In [50]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
columns=soup.select('table > tr > th')
columns

columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)

df

Empty DataFrame
Columns: [geo_name, longitude, latitude, Action]
Index: []

In [63]:
contents=bs.select('table  > tbody > tr#trbody')
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)
df

,geo_name,longitude,latitude,Action
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

In [ ]:
df.to

In [59]:
contents=bs.select('table > tbody > tr')
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)
df

,geo_name,longitude,latitude,Action
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

In [55]:
contents=bs.findAll("tr", {"id":"trbody"})
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents)
df

,geo_name,longitude,latitude,Action
0,polytech_kangseo2,126.840918,37.549506,\n\nEdit \n ...
1,coffeekorea_seulleng,127.0478832,37.50567504,\n\nEdit \n ...

In [47]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/maps/gitList')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
columns=bs.select('table > tr > th')

gitColumnlist=[]
for column in columns:
    gitColumnlist.append(column.text)
df=pd.DataFrame(columns=gitColumnlist)
df

Empty DataFrame
Columns: [순번, 학생 이름, GIT 주소(뒷부분), 수정]
Index: []

In [50]:
contents=bs.select('table > tr#gitContents')
dfcontent=[]
alldfcontents=[]

for content in contents:
    tds=content.findAll("td")
    for td in tds:
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=gitColumnlist, data=alldfcontents, index=None)
df.columns=["no","std_name","git_address","edit"]
finalDf = df[["no","std_name","git_address"]]
print(finalDf.head())
finalDf.columns=["안녕","안녕2","안녕3"]
finalDf.to_csv("d:/git_address.csv",index=False, encoding="utf-8-sig")
finalDf

  no        std_name git_address
0  1  KIM GANG RYONG      wovmxl
1  2     KIM DO WOON   dowoonkim
2  3     KIM EUI JIN       doogn
3  4   NOH YOUNG WOO   ppoocoder
4  5  PARK SEUNG JIN      tmdwls

    안녕             안녕2            안녕3
0    1  KIM GANG RYONG         wovmxl
1    2     KIM DO WOON      dowoonkim
2    3     KIM EUI JIN          doogn
3    4   NOH YOUNG WOO      ppoocoder
4    5  PARK SEUNG JIN         tmdwls
5    6    SUNG HAN BIN     sunghanbin
6    7   SHIN SUNG WOO      sinletsgo
7    8       OH MI JIN        ohmijin
8    9   LEE DONG GEUN          awd45
9   10    LEE WOO SEOK        creed35
10  11     LEE EUN SIL    milklandcoo
11  12     LEE HAN MIN         yumras
12  13     LEE HYO JAE        freespa
13  14  JUNG KYUNG HWA       JungKH89
14  15  JEONG YU SEOCK    jeongyuseoc
15  16    JUNG HYO JAE      jamiewell
16  17   CHO DONG YEOK       jody0406
17  18   JO JEONG YEON          hera7
18  19   CHAE SUNG EUN     sechae0528
19  20  CHOI KYUNG JAE        ckt9636
20  21   CHOI DONG HUN    MakeBelieve
21  22   CHOI MIN SUNG       sakurac0
22  23     HA TAE YANG      hataeyang
23  24    YOON SUNG HO     youtoo1116
24  25     KIM JI SUNG       binggugu
25  26    CHOI MIN HAN  do not submit

In [34]:
tds2=content.findAll("td")
tds2

[<td>coffeekorea_seulleng</td>,
 <td>127.0478832</td>,
 <td>37.50567504</td>,
 <td>
 <div style="float:left">
 <a href="/maps/edit/5">Edit</a>
                     <form action="/maps/delete/5" method="post" style="float:right">
 <input name="delete" onclick="return confirm('Are you sure you want to delete?')" type="submit" value="Delete"/>
 <input name="_method" type="hidden" value="DELETE"/>
 </form>
 </div>
 </td>]

In [55]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get("http://finance.naver.com/marketindex/")
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# 데이터 추출하기
price = bs.select_one("div.head_info > span.value").string
print("usd/krw= ", price)

# 리스트 초기화 및 데이터 담기
outList = []
outList.append(price)

# 리스트 pandas 데이터 프레임으로 변환 및 컬럼 정의
outDf = pd.DataFrame(np.array(outList).reshape(1,1))
outDf.columns = ['title']
# CSV 파일로 저장, encondig 한글깨짐 방지
#outDf.to_csv("../dataset/webData.csv", encoding='utf-8-sig',index=False)
outDf

usd/krw=  1,069.50

      title
0  1,069.50

In [73]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, "html.parser")

# div에서 id가 id_db_quiz인것만 추출
seone = bs.select_one("div.class_db_quiz > a").string
print(seone)
    
# div에서 id가 id_db_quiz인것만 추출
divs = bs.select("div.class_db_quiz > a")
for li in divs:
    print(li.string)

 6/5 오라클 GroupBy 퀴즈
 6/5 오라클 GroupBy 퀴즈
 5/29 오라클 숫자/날짜 및 고급함수
 5/15 오라클 데이터 조회(함수활용)
 5/8 오라클 원격접속 및 조회
 4/10 무결성 제약조건

In [6]:
h1 = bs.html.body.p
print(h1)

<p></p>

In [68]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_part = bs.find("div",{"id":"id_db_quiz"})

# 링크내 속성 가져오기
for link in find_part.findAll("a"):
    if 'href' in link.attrs:
        print(link.attrs['href'])

https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSfU5Pv_GQOLV-SkrDirOGt4GLDP3sZpy-UPY4zsud2ODPknbA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSdFuYrwaYE6HEzQft21Icj_2yPyQqkcSabuvnaWwO47v99XmA/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSd8MAsXIKIteOM4OFCggUoYeOqC5aGI-2aQFLV8533HkbTz-w/viewform?usp=sf_link
https://docs.google.com/forms/d/e/1FAIpQLSeYl0KM70XWhjnTIVLfqX5H5tp2V3jx2bwJMyZrTSeak2HZWw/viewform?usp=sf_link

In [95]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://13.209.33.89:3333/quiz')
resp.encoding='utf-8'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
find_part = bs.find("div",{"id":"id_db_quiz"})

# 링크내 속성 가져오기
link = find_part.find("a")
print(find_part.find("a").attrs['href'])

https://docs.google.com/forms/d/e/1FAIpQLScP3ojzBNFbKbTFq4r58GqqZODYom1d6jrn09rmdqT57uByVA/viewform?usp=sf_link

In [24]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
#resp.encoding='utf-8-sig'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

stock_list = bs.select("#myListTop1 > li")
#stock_list = bs.find("ul",{"id":"myListTop1"}).findAll("li")
#stock_list[0].find('a').text
count = 0
stock_nameList = []
stock_priceList = []
stock_main_no = 6
for stock_one in stock_list:
    if count > stock_main_no:
        break
    stock_name = stock_one.find('a').text
    stock_price = stock_one.find("span",{"class":"cost num"}).text
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1
    #print(count, stock_name, stock_price,count)
list1 = pd.DataFrame(stock_nameList)
list2 = pd.DataFrame(stock_priceList)
final = pd.concat([list1,list2], axis = 1)
final.columns=['STOCK_NAME','STOCK_PRICE']
final

   STOCK_NAME STOCK_PRICE
0        삼성전자      48,500
1      SK하이닉스      87,300
2        셀트리온     284,500
3       삼성전자우      38,650
4       POSCO     364,500
5         현대차     135,500
6   삼성바이오로직..     409,000

In [25]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 


# 데이터 저장
tablename = "KOPO_STOCK_ST_김효관"
final.to_sql(tablename, engine, if_exists='replace', index=False)

In [ ]:
import requests, bs4, pandas as pd, numpy as np   #웹페이지 html 소스 가져오기 resp = requests.get('http://finance.daum.net/quote/marketvalue.daum') resp.encoding='utf-8' html = resp.text bs = bs4.BeautifulSoup(html, 'html.parser')  # html 부분구조 가져오기 # html 부분구조 가져오기 find_part = bs.find("tr",{"onmouseout":"highlight(this,false)"}) # 링크내 속성 가져오기 link = find_part.find("a") link columns=bs.select('table > tr > th') # 순서대로 타고 들어가기  columns  columnlist=[] for column in columns:     columnlist.append(column.text) df=pd.DataFrame(columns=columnlist) df contents1=bs.findAll("tr",{"onmouseout":"highlight(this,false)"}) contents1 dfcontent=[] alldfcontents=[] for content in contents1:     tds=content.findAll("td")     for td in tds:         if(td.text=="None"):             continue;         dfcontent.append(td.text)     alldfcontents.append(dfcontent)     dfcontent=[] df=pd.DataFrame(columns=columnlist, data=alldfcontents, index=None)  df.columns=["순위", "종목명","현재가", "전일비","등락률", "시가총액", "상장주식수", "외국인비율"] finalDf = df[["순위", "종목명", "현재가"]] print(finalDf) # CSV 파일로 저장, encondig 한글깨짐 방지 finalDf.to_csv("../dataset/finalDF.csv", encoding='utf-8-sig',index=False)

In [54]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
# html 부분구조 가져오기
find_part = bs.find("tr",{"onmouseout":"highlight(this,false)"})
# 링크내 속성 가져오기
link = find_part.find("a")
link
columns=bs.select('table > tr > th') # 순서대로 타고 들어가기 
columns

columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)
df
contents1=bs.findAll("tr",{"onmouseout":"highlight(this,false)"})
contents1
dfcontent=[]
alldfcontents=[]
for content in contents1:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents, index=None)

df.columns=["순위", "종목명","현재가", "전일비","등락률", "시가총액", "상장주식수", "외국인비율"]
finalDf = df[["순위", "종목명", "현재가"]]
finalDf

    순위       종목명        현재가
0    1      삼성전자     48,300
1    2    SK하이닉스     87,100
2    3      셀트리온    288,500
3    4     삼성전자우     38,450
4    5     POSCO    365,500
5    6       현대차    136,000
6    7  삼성바이오로직스    413,500
7    8      LG화학    377,000
8    9      삼성물산    123,000
9   10     NAVER    693,000
10  11    LG생활건강  1,456,000
11  12      한국전력     35,300
12  13      KB금융     54,000
13  14     현대모비스    221,000
14  15      신한지주     45,300
15  16      삼성생명    102,500
16  17   SK이노베이션    214,000
17  18     SK텔레콤    241,000
18  19        SK    270,500
19  20    아모레퍼시픽    316,000
20  21     삼성SDI    234,000
21  22   삼성에스디에스    206,500
22  23      LG전자     93,300
23  24     KT&G;    101,000
24  25    하나금융지주     43,850
25  26       기아차     32,400
26  27        LG     75,300
27  28       넷마블    150,500
28  29     롯데케미칼    362,500
29  30     S-Oil    109,000

In [83]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
#resp.encoding='utf-8-sig'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')
stock_list = bs.find("ul",{"id":"myListTop1"}).findAll("li")
stock_list

count = 0
stock_nameList = []
stock_priceList = []
stock_num = 6
#for stock_one in stock_list:
for stock_one in stock_list:
    if count > stock_num:
        break
    stock_name = stock_one.find('a').text
    stock_price = float(stock_one.find("span",{"class":"cost num"}).text.replace(",",""))
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1
list1 = pd.DataFrame(stock_nameList, dtype=str)
stock_priceList
list2 = pd.DataFrame(stock_priceList, dtype=float)
final = pd.concat([list1,list2], axis = 1)
final.columns=['STOCK_NAME','STOCK_PRICE']
final
#float(stock_list[0].find("span",{"class":"cost num"}).text.replace(",",""))
#stock_price = float(stock_one.find("span",{"class":"cost num"}).text.replace(",",""))
# stock_nameList.append(stock_name)
# stock_priceList.append(stock_price)
# count += 1

   STOCK_NAME  STOCK_PRICE
0        삼성전자      48100.0
1      SK하이닉스      86500.0
2        셀트리온     293000.0
3       삼성전자우      38200.0
4       POSCO     366000.0
5         현대차     135500.0
6   삼성바이오로직..     409500.0

In [84]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
resp.encoding='utf-8'
html = resp.text
bs = bs4.BeautifulSoup(html, 'html.parser')

# html 부분구조 가져오기
# html 부분구조 가져오기
columns=bs.select('table > tr > th') # 순서대로 타고 들어가기 
columns

columnlist=[]
for column in columns:
    columnlist.append(column.text)
df=pd.DataFrame(columns=columnlist)
df
contents1=bs.findAll("tr".{"onmouseout":"highlight(this,false)"}. limit=7)
contents1
dfcontent=[]
alldfcontents=[]
for content in contents1:
    tds=content.findAll("td")
    for td in tds:
        if(td.text=="None"):
            continue;
        dfcontent.append(td.text)
    alldfcontents.append(dfcontent)
    dfcontent=[]
df=pd.DataFrame(columns=columnlist, data=alldfcontents, index=None)

df.columns=["순위", "종목명","현재가", "전일비","등락률", "시가총액", "상장주식수", "외국인비율"]
finalDf = df[["순위", "종목명", "현재가"]]
print(finalDf)
# CSV 파일로 저장, encondig 한글깨짐 방지
#finalDf.to_csv("../dataset/finalDF.csv", encoding='utf-8-sig',index=False)

SyntaxError: keyword can't be an expression (<ipython-input-84-4bb61a4af8bf>, line 19)

In [55]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
#resp.encoding='utf-8-sig'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

stock_list = bs.select("#myListTop1 > li")
#stock_list = bs.find("ul",{"id":"myListTop1"}).findAll("li")
#stock_list[0].find('a').text
count = 0
stock_nameList = []
stock_priceList = []

for stock_one in stock_list:
    stock_name = stock_one.find('a').text
    stock_price = float(stock_one.find("span",{"class":"cost num"}).text.replace(",",""))
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1
list1 = pd.DataFrame(stock_nameList, dtype=str)
stock_priceList
list2 = pd.DataFrame(stock_priceList, dtype=float)
final = pd.concat([list1,list2], axis = 1)
final.columns=['STOCK_NAME','STOCK_PRICE']

In [52]:
import requests, bs4, pandas as pd, numpy as np
 
#웹페이지 html 소스 가져오기
resp = requests.get('http://finance.daum.net/quote/marketvalue.daum')
#resp.encoding='utf-8-sig'
html = resp.text

bs = bs4.BeautifulSoup(html, 'html.parser')

stock_list = bs.select("#myListTop1 > li")
#stock_list = bs.find("ul",{"id":"myListTop1"}).findAll("li")
#stock_list[0].find('a').text
count = 0
stock_nameList = []
stock_priceList = []

for stock_one in stock_list:
    stock_name = stock_one.find('a').text
    stock_price = float(stock_one.find("span",{"class":"cost num"}).text.replace(",",""))
    stock_nameList.append(stock_name)
    stock_priceList.append(stock_price)
    count += 1
    #print(count, stock_name, stock_price,count)
list1 = pd.DataFrame(stock_nameList, dtype=str)
stock_priceList
list2 = pd.DataFrame(stock_priceList, dtype=float)
final = pd.concat([list1,list2], axis = 1)
final.columns=['STOCK_NAME','STOCK_PRICE']
final

    STOCK_NAME  STOCK_PRICE
0         삼성전자      48450.0
1       SK하이닉스      87000.0
2         셀트리온     290500.0
3        삼성전자우      38550.0
4        POSCO     364000.0
5          현대차     135500.0
6    삼성바이오로직..     414000.0
7         LG화학     378000.0
8         삼성물산     123000.0
9        NAVER     695000.0
10        한국전력      35300.0
11        KB금융      54100.0
12      LG생활건강    1448000.0
13       현대모비스     221500.0
14        신한지주      45250.0
15        삼성생명     102500.0
16     SK이노베이션     213500.0
17       SK텔레콤     238500.0
18          SK     271000.0
19      아모레퍼시픽     318000.0
20     삼성에스디에스     211000.0
21       삼성SDI     234500.0
22        LG전자      93500.0
23       KT&G;     100500.0
24      하나금융지주      44050.0
25         기아차      32300.0
26          LG      75500.0
27         넷마블     149000.0
28       롯데케미칼     362500.0
29       S-Oil     109000.0
30        삼성화재     256500.0
31        우리은행      16000.0
32        삼성전기     141000.0
33        아모레G     124500.0
34        기업은행      15850.0

In [ ]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl') 

# 데이터 저장
tablename = "KOPO_STOCK_ST_김효관"
final.to_sql(tablename, engine, if_exists='replace', index=False)

In [51]:
final

             0          0
0         삼성전자    48450.0
1       SK하이닉스    87000.0
2         셀트리온   290500.0
3        삼성전자우    38550.0
4        POSCO   364000.0
5          현대차   135500.0
6    삼성바이오로직..   414000.0
7         LG화학   378000.0
8         삼성물산   123000.0
9        NAVER   695000.0
10        한국전력    35300.0
11        KB금융    54100.0
12      LG생활건강  1448000.0
13       현대모비스   221500.0
14        신한지주    45250.0
15        삼성생명   102500.0
16     SK이노베이션   213500.0
17       SK텔레콤   238500.0
18          SK   271000.0
19      아모레퍼시픽   318000.0
20     삼성에스디에스   211000.0
21       삼성SDI   234500.0
22        LG전자    93500.0
23       KT&G;   100500.0
24      하나금융지주    44050.0
25         기아차    32300.0
26          LG    75500.0
27         넷마블   149000.0
28       롯데케미칼   362500.0
29       S-Oil   109000.0
30        삼성화재   256500.0
31        우리은행    16000.0
32        삼성전기   141000.0
33        아모레G   124500.0
34        기업은행    15850.0

### 하둡파일시스템 데이터 접근

In [12]:
# Pandas and hdfs 패키지
import pandas as pd
from hdfs import InsecureClient
import os
# hdfs 설정
client_hdfs = InsecureClient('http://192.168.110.114:50070')

# Test PandasDataFrame 생성 및 넣기
liste_hello = ['hello1','hello2']
liste_world = ['world1','world2']
df = pd.DataFrame(data = {'hello' : liste_hello, 'world': liste_world})

# 데이터프레임 hdfs에 저장
with client_hdfs.write('/mydata/helloworld_kk.csv', encoding = 'utf-8') as writer:
    df.to_csv(writer)

In [9]:
# 데이터 읽기
# ====== Reading files ======
with client_hdfs.read('/mydata/helloworld.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0)

In [10]:
readdf

    hello   world
0  hello1  world1
1  hello2  world2

In [37]:
pd.DataFrame(columns=['STOCK_PRICE'], dtype=float)

Empty DataFrame
Columns: [STOCK_PRICE]
Index: []