# kopo_product_volume 테이블을 불러온 후 다음 과정을 진행 하세요. 모든 주차에 이동평균을 window 5로 설정하여 구한 후 (빈 셀은 존재하는 날개에 대해서만) RATIO 컬럼을 추가하여 VOLUME/이동평균 값으로 넣으세요.

In [3]:
## 패키지 불러오기
import pandas as pd
from sqlalchemy import create_engine

#DB커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
productVolume = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)

productVolume

    regionid productgroup yearweek     volume
0        A01       ST0002   201512   151750.0
1        A01       ST0001   201520   645626.0
2        A01       ST0002   201520   125863.0
3        A01       ST0001   201515   810144.0
4        A01       ST0002   201515   128999.0
5        A01       ST0001   201518   671464.0
6        A01       ST0002   201518   134467.0
7        A01       ST0001   201513   470040.0
8        A01       ST0002   201513   140297.0
9        A01       ST0001   201511   524787.0
10       A01       ST0002   201511   145509.0
11       A01       ST0001   201516   764927.0
12       A01       ST0002   201516   140313.0
13       A01       ST0001   201519   682757.0
14       A01       ST0002   201519   128668.0
15       A01       ST0001   201514   428195.0
16       A01       ST0002   201514   137488.0
17       A01       ST0001   201512   486509.0
18       A01       ST0001   201517   697502.0
19       A01       ST0002   201517   127163.0
20       A01       ST0001   201507   620392.0
21       A01       ST0002   201507   146476.0
22       A01       ST0001   201510   511679.0
23       A01       ST0002   201510   153152.0
24       A01       ST0001   201502   438251.0
25       A01       ST0002   201502   123875.0
26       A01       ST0001   201505   482381.0
27       A01       ST0002   201505   180516.0
28       A01       ST0001   201508   571781.0
29       A01       ST0002   201508   156772.0
..       ...          ...      ...        ...
129      A01       ST0002   201619   152980.0
130      A01       ST0001   201624   772706.0
131      A01       ST0002   201624   171592.0
132      A01       ST0001   201622   817878.0
133      A01       ST0002   201622   214929.0
134      A01       ST0001   201620   695859.0
135      A01       ST0002   201620   160913.0
136      A01       ST0001   201618   712672.0
137      A01       ST0002   201618   162560.0
138      A01       ST0001   201625   786218.0
139      A01       ST0002   201625   157283.0
140      A01       ST0001   201612   794413.0
141      A01       ST0002   201612   132780.0
142      A01       ST0001   201610  1218194.0
143      A01       ST0002   201610   142575.0
144      A01       ST0001   201617   694920.0
145      A01       ST0002   201617   142279.0
146      A01       ST0001   201615   678467.0
147      A01       ST0002   201615   143180.0
148      A01       ST0001   201613   886427.0
149      A01       ST0002   201613   135788.0
150      A01       ST0001   201611  1011581.0
151      A01       ST0002   201611   150915.0
152      A01       ST0001   201609   635412.0
153      A01       ST0001   201616   658270.0
154      A01       ST0002   201616   137927.0
155      A01       ST0002   201609   154149.0
156      A01       ST0001   201614   739977.0
157      A01       ST0002   201614   148835.0
158      A01       ST0001   201641   746061.0

[159 rows x 4 columns]

In [4]:
## regionid , productgroup , yearweek 오름차순으로 정렬
sortedDataPre = productVolume.sort_values(["regionid","productgroup","yearweek"])
sortedDataPre

    regionid productgroup yearweek    volume
36       A01       ST0001   201501  513598.0
24       A01       ST0001   201502  438251.0
30       A01       ST0001   201503  420290.0
38       A01       ST0001   201504  458431.0
26       A01       ST0001   201505  482381.0
32       A01       ST0001   201506  570412.0
20       A01       ST0001   201507  620392.0
28       A01       ST0001   201508  571781.0
34       A01       ST0001   201509  569545.0
22       A01       ST0001   201510  511679.0
9        A01       ST0001   201511  524787.0
17       A01       ST0001   201512  486509.0
7        A01       ST0001   201513  470040.0
15       A01       ST0001   201514  428195.0
3        A01       ST0001   201515  810144.0
11       A01       ST0001   201516  764927.0
18       A01       ST0001   201517  697502.0
5        A01       ST0001   201518  671464.0
13       A01       ST0001   201519  682757.0
1        A01       ST0001   201520  645626.0
70       A01       ST0001   201521  620290.0
78       A01       ST0001   201522  603104.0
64       A01       ST0001   201523  610479.0
74       A01       ST0001   201524  589613.0
60       A01       ST0001   201525  618699.0
66       A01       ST0001   201526  586721.0
76       A01       ST0001   201527  599043.0
62       A01       ST0001   201528  587529.0
72       A01       ST0001   201529  620882.0
80       A01       ST0001   201530  643984.0
..       ...          ...      ...       ...
117      A01       ST0002   201550  294579.0
105      A01       ST0002   201551  356271.0
93       A01       ST0002   201552  422468.0
99       A01       ST0002   201553  232523.0
87       A01       ST0002   201601  162801.0
97       A01       ST0002   201602  137186.0
85       A01       ST0002   201603  152763.0
95       A01       ST0002   201604  197057.0
83       A01       ST0002   201605  231214.0
91       A01       ST0002   201606  172230.0
101      A01       ST0002   201607  161324.0
89       A01       ST0002   201608  130000.0
155      A01       ST0002   201609  154149.0
143      A01       ST0002   201610  142575.0
151      A01       ST0002   201611  150915.0
141      A01       ST0002   201612  132780.0
149      A01       ST0002   201613  135788.0
157      A01       ST0002   201614  148835.0
147      A01       ST0002   201615  143180.0
154      A01       ST0002   201616  137927.0
145      A01       ST0002   201617  142279.0
137      A01       ST0002   201618  162560.0
129      A01       ST0002   201619  152980.0
135      A01       ST0002   201620  160913.0
125      A01       ST0002   201621  205984.0
133      A01       ST0002   201622  214929.0
123      A01       ST0002   201623  161983.0
131      A01       ST0002   201624  171592.0
139      A01       ST0002   201625  157283.0
127      A01       ST0002   201626  196489.0

[159 rows x 4 columns]

In [5]:
## 인덱스값 재 정렬
sortedData = sortedDataPre.reset_index(drop=True)
sortedData

    regionid productgroup yearweek    volume
0        A01       ST0001   201501  513598.0
1        A01       ST0001   201502  438251.0
2        A01       ST0001   201503  420290.0
3        A01       ST0001   201504  458431.0
4        A01       ST0001   201505  482381.0
5        A01       ST0001   201506  570412.0
6        A01       ST0001   201507  620392.0
7        A01       ST0001   201508  571781.0
8        A01       ST0001   201509  569545.0
9        A01       ST0001   201510  511679.0
10       A01       ST0001   201511  524787.0
11       A01       ST0001   201512  486509.0
12       A01       ST0001   201513  470040.0
13       A01       ST0001   201514  428195.0
14       A01       ST0001   201515  810144.0
15       A01       ST0001   201516  764927.0
16       A01       ST0001   201517  697502.0
17       A01       ST0001   201518  671464.0
18       A01       ST0001   201519  682757.0
19       A01       ST0001   201520  645626.0
20       A01       ST0001   201521  620290.0
21       A01       ST0001   201522  603104.0
22       A01       ST0001   201523  610479.0
23       A01       ST0001   201524  589613.0
24       A01       ST0001   201525  618699.0
25       A01       ST0001   201526  586721.0
26       A01       ST0001   201527  599043.0
27       A01       ST0001   201528  587529.0
28       A01       ST0001   201529  620882.0
29       A01       ST0001   201530  643984.0
..       ...          ...      ...       ...
129      A01       ST0002   201550  294579.0
130      A01       ST0002   201551  356271.0
131      A01       ST0002   201552  422468.0
132      A01       ST0002   201553  232523.0
133      A01       ST0002   201601  162801.0
134      A01       ST0002   201602  137186.0
135      A01       ST0002   201603  152763.0
136      A01       ST0002   201604  197057.0
137      A01       ST0002   201605  231214.0
138      A01       ST0002   201606  172230.0
139      A01       ST0002   201607  161324.0
140      A01       ST0002   201608  130000.0
141      A01       ST0002   201609  154149.0
142      A01       ST0002   201610  142575.0
143      A01       ST0002   201611  150915.0
144      A01       ST0002   201612  132780.0
145      A01       ST0002   201613  135788.0
146      A01       ST0002   201614  148835.0
147      A01       ST0002   201615  143180.0
148      A01       ST0002   201616  137927.0
149      A01       ST0002   201617  142279.0
150      A01       ST0002   201618  162560.0
151      A01       ST0002   201619  152980.0
152      A01       ST0002   201620  160913.0
153      A01       ST0002   201621  205984.0
154      A01       ST0002   201622  214929.0
155      A01       ST0002   201623  161983.0
156      A01       ST0002   201624  171592.0
157      A01       ST0002   201625  157283.0
158      A01       ST0002   201626  196489.0

[159 rows x 4 columns]

In [6]:
sortedData["avg_volume"] = sortedData["volume"].rolling(window = 5, center=True , min_periods=1).mean()
sortedData

    regionid productgroup yearweek    volume     avg_volume
0        A01       ST0001   201501  513598.0  457379.666667
1        A01       ST0001   201502  438251.0  457642.500000
2        A01       ST0001   201503  420290.0  462590.200000
3        A01       ST0001   201504  458431.0  473953.000000
4        A01       ST0001   201505  482381.0  510381.200000
5        A01       ST0001   201506  570412.0  540679.400000
6        A01       ST0001   201507  620392.0  562902.200000
7        A01       ST0001   201508  571781.0  568761.800000
8        A01       ST0001   201509  569545.0  559636.800000
9        A01       ST0001   201510  511679.0  532860.200000
10       A01       ST0001   201511  524787.0  512512.000000
11       A01       ST0001   201512  486509.0  484242.000000
12       A01       ST0001   201513  470040.0  543935.000000
13       A01       ST0001   201514  428195.0  591963.000000
14       A01       ST0001   201515  810144.0  634161.600000
15       A01       ST0001   201516  764927.0  674446.400000
16       A01       ST0001   201517  697502.0  725358.800000
17       A01       ST0001   201518  671464.0  692455.200000
18       A01       ST0001   201519  682757.0  663527.800000
19       A01       ST0001   201520  645626.0  644648.200000
20       A01       ST0001   201521  620290.0  632451.200000
21       A01       ST0001   201522  603104.0  613822.400000
22       A01       ST0001   201523  610479.0  608437.000000
23       A01       ST0001   201524  589613.0  601723.200000
24       A01       ST0001   201525  618699.0  600911.000000
25       A01       ST0001   201526  586721.0  596321.000000
26       A01       ST0001   201527  599043.0  602574.800000
27       A01       ST0001   201528  587529.0  607631.800000
28       A01       ST0001   201529  620882.0  624515.200000
29       A01       ST0001   201530  643984.0  640208.400000
..       ...          ...      ...       ...            ...
129      A01       ST0002   201550  294579.0  628673.600000
130      A01       ST0002   201551  356271.0  395110.400000
131      A01       ST0002   201552  422468.0  293728.400000
132      A01       ST0002   201553  232523.0  262249.800000
133      A01       ST0002   201601  162801.0  221548.200000
134      A01       ST0002   201602  137186.0  176466.000000
135      A01       ST0002   201603  152763.0  176204.200000
136      A01       ST0002   201604  197057.0  178090.000000
137      A01       ST0002   201605  231214.0  182917.600000
138      A01       ST0002   201606  172230.0  178365.000000
139      A01       ST0002   201607  161324.0  169783.400000
140      A01       ST0002   201608  130000.0  152055.600000
141      A01       ST0002   201609  154149.0  147792.600000
142      A01       ST0002   201610  142575.0  142083.800000
143      A01       ST0002   201611  150915.0  143241.400000
144      A01       ST0002   201612  132780.0  142178.600000
145      A01       ST0002   201613  135788.0  142299.600000
146      A01       ST0002   201614  148835.0  139702.000000
147      A01       ST0002   201615  143180.0  141601.800000
148      A01       ST0002   201616  137927.0  146956.200000
149      A01       ST0002   201617  142279.0  147785.200000
150      A01       ST0002   201618  162560.0  151331.800000
151      A01       ST0002   201619  152980.0  164943.200000
152      A01       ST0002   201620  160913.0  179473.200000
153      A01       ST0002   201621  205984.0  179357.800000
154      A01       ST0002   201622  214929.0  183080.200000
155      A01       ST0002   201623  161983.0  182354.200000
156      A01       ST0002   201624  171592.0  180455.200000
157      A01       ST0002   201625  157283.0  171836.750000
158      A01       ST0002   201626  196489.0  175121.333333

[159 rows x 5 columns]

In [7]:
sortedData["ratio"] = sortedData["volume"]/sortedData["avg_volume"]
sortedData

    regionid productgroup yearweek    volume     avg_volume     ratio
0        A01       ST0001   201501  513598.0  457379.666667  1.122914
1        A01       ST0001   201502  438251.0  457642.500000  0.957627
2        A01       ST0001   201503  420290.0  462590.200000  0.908558
3        A01       ST0001   201504  458431.0  473953.000000  0.967250
4        A01       ST0001   201505  482381.0  510381.200000  0.945139
5        A01       ST0001   201506  570412.0  540679.400000  1.054991
6        A01       ST0001   201507  620392.0  562902.200000  1.102131
7        A01       ST0001   201508  571781.0  568761.800000  1.005308
8        A01       ST0001   201509  569545.0  559636.800000  1.017705
9        A01       ST0001   201510  511679.0  532860.200000  0.960250
10       A01       ST0001   201511  524787.0  512512.000000  1.023951
11       A01       ST0001   201512  486509.0  484242.000000  1.004682
12       A01       ST0001   201513  470040.0  543935.000000  0.864147
13       A01       ST0001   201514  428195.0  591963.000000  0.723348
14       A01       ST0001   201515  810144.0  634161.600000  1.277504
15       A01       ST0001   201516  764927.0  674446.400000  1.134155
16       A01       ST0001   201517  697502.0  725358.800000  0.961596
17       A01       ST0001   201518  671464.0  692455.200000  0.969686
18       A01       ST0001   201519  682757.0  663527.800000  1.028980
19       A01       ST0001   201520  645626.0  644648.200000  1.001517
20       A01       ST0001   201521  620290.0  632451.200000  0.980771
21       A01       ST0001   201522  603104.0  613822.400000  0.982538
22       A01       ST0001   201523  610479.0  608437.000000  1.003356
23       A01       ST0001   201524  589613.0  601723.200000  0.979874
24       A01       ST0001   201525  618699.0  600911.000000  1.029602
25       A01       ST0001   201526  586721.0  596321.000000  0.983901
26       A01       ST0001   201527  599043.0  602574.800000  0.994139
27       A01       ST0001   201528  587529.0  607631.800000  0.966916
28       A01       ST0001   201529  620882.0  624515.200000  0.994182
29       A01       ST0001   201530  643984.0  640208.400000  1.005897
..       ...          ...      ...       ...            ...       ...
129      A01       ST0002   201550  294579.0  628673.600000  0.468572
130      A01       ST0002   201551  356271.0  395110.400000  0.901700
131      A01       ST0002   201552  422468.0  293728.400000  1.438295
132      A01       ST0002   201553  232523.0  262249.800000  0.886647
133      A01       ST0002   201601  162801.0  221548.200000  0.734833
134      A01       ST0002   201602  137186.0  176466.000000  0.777408
135      A01       ST0002   201603  152763.0  176204.200000  0.866966
136      A01       ST0002   201604  197057.0  178090.000000  1.106502
137      A01       ST0002   201605  231214.0  182917.600000  1.264034
138      A01       ST0002   201606  172230.0  178365.000000  0.965604
139      A01       ST0002   201607  161324.0  169783.400000  0.950175
140      A01       ST0002   201608  130000.0  152055.600000  0.854950
141      A01       ST0002   201609  154149.0  147792.600000  1.043009
142      A01       ST0002   201610  142575.0  142083.800000  1.003457
143      A01       ST0002   201611  150915.0  143241.400000  1.053571
144      A01       ST0002   201612  132780.0  142178.600000  0.933896
145      A01       ST0002   201613  135788.0  142299.600000  0.954240
146      A01       ST0002   201614  148835.0  139702.000000  1.065375
147      A01       ST0002   201615  143180.0  141601.800000  1.011145
148      A01       ST0002   201616  137927.0  146956.200000  0.938559
149      A01       ST0002   201617  142279.0  147785.200000  0.962742
150      A01       ST0002   201618  162560.0  151331.800000  1.074196
151      A01       ST0002   201619  152980.0  164943.200000  0.927471
152      A01       ST0002   201620  160913.0  179473.200000  0.896585
153      A01       ST0002   201621  205984.0  179357.800000  1.148453
154      A01       ST0002   201622  214929.0  183080.200000  1.173961
155      A01       ST0002   201623  161983.0  182354.200000  0.888288
156      A01       ST0002   201624  171592.0  180455.200000  0.950884
157      A01       ST0002   201625  157283.0  171836.750000  0.915305
158      A01       ST0002   201626  196489.0  175121.333333  1.122016

[159 rows x 6 columns]

# 이동평균 빈셀 다른 풀이

In [8]:
sortedData1 = sortedDataPre.reset_index(drop=True)
sortedData1

    regionid productgroup yearweek    volume
0        A01       ST0001   201501  513598.0
1        A01       ST0001   201502  438251.0
2        A01       ST0001   201503  420290.0
3        A01       ST0001   201504  458431.0
4        A01       ST0001   201505  482381.0
5        A01       ST0001   201506  570412.0
6        A01       ST0001   201507  620392.0
7        A01       ST0001   201508  571781.0
8        A01       ST0001   201509  569545.0
9        A01       ST0001   201510  511679.0
10       A01       ST0001   201511  524787.0
11       A01       ST0001   201512  486509.0
12       A01       ST0001   201513  470040.0
13       A01       ST0001   201514  428195.0
14       A01       ST0001   201515  810144.0
15       A01       ST0001   201516  764927.0
16       A01       ST0001   201517  697502.0
17       A01       ST0001   201518  671464.0
18       A01       ST0001   201519  682757.0
19       A01       ST0001   201520  645626.0
20       A01       ST0001   201521  620290.0
21       A01       ST0001   201522  603104.0
22       A01       ST0001   201523  610479.0
23       A01       ST0001   201524  589613.0
24       A01       ST0001   201525  618699.0
25       A01       ST0001   201526  586721.0
26       A01       ST0001   201527  599043.0
27       A01       ST0001   201528  587529.0
28       A01       ST0001   201529  620882.0
29       A01       ST0001   201530  643984.0
..       ...          ...      ...       ...
129      A01       ST0002   201550  294579.0
130      A01       ST0002   201551  356271.0
131      A01       ST0002   201552  422468.0
132      A01       ST0002   201553  232523.0
133      A01       ST0002   201601  162801.0
134      A01       ST0002   201602  137186.0
135      A01       ST0002   201603  152763.0
136      A01       ST0002   201604  197057.0
137      A01       ST0002   201605  231214.0
138      A01       ST0002   201606  172230.0
139      A01       ST0002   201607  161324.0
140      A01       ST0002   201608  130000.0
141      A01       ST0002   201609  154149.0
142      A01       ST0002   201610  142575.0
143      A01       ST0002   201611  150915.0
144      A01       ST0002   201612  132780.0
145      A01       ST0002   201613  135788.0
146      A01       ST0002   201614  148835.0
147      A01       ST0002   201615  143180.0
148      A01       ST0002   201616  137927.0
149      A01       ST0002   201617  142279.0
150      A01       ST0002   201618  162560.0
151      A01       ST0002   201619  152980.0
152      A01       ST0002   201620  160913.0
153      A01       ST0002   201621  205984.0
154      A01       ST0002   201622  214929.0
155      A01       ST0002   201623  161983.0
156      A01       ST0002   201624  171592.0
157      A01       ST0002   201625  157283.0
158      A01       ST0002   201626  196489.0

[159 rows x 4 columns]

In [9]:
import math
#이동평균 구간 크기
order = 5
suborder = math.floor(order/2)

In [10]:
maxLength = len(sortedData1)
maxLength

159

In [11]:
i=0

In [12]:
sortedData1.loc[()]

    regionid productgroup yearweek    volume
0        A01       ST0001   201501  513598.0
1        A01       ST0001   201502  438251.0
2        A01       ST0001   201503  420290.0
3        A01       ST0001   201504  458431.0
4        A01       ST0001   201505  482381.0
5        A01       ST0001   201506  570412.0
6        A01       ST0001   201507  620392.0
7        A01       ST0001   201508  571781.0
8        A01       ST0001   201509  569545.0
9        A01       ST0001   201510  511679.0
10       A01       ST0001   201511  524787.0
11       A01       ST0001   201512  486509.0
12       A01       ST0001   201513  470040.0
13       A01       ST0001   201514  428195.0
14       A01       ST0001   201515  810144.0
15       A01       ST0001   201516  764927.0
16       A01       ST0001   201517  697502.0
17       A01       ST0001   201518  671464.0
18       A01       ST0001   201519  682757.0
19       A01       ST0001   201520  645626.0
20       A01       ST0001   201521  620290.0
21       A01       ST0001   201522  603104.0
22       A01       ST0001   201523  610479.0
23       A01       ST0001   201524  589613.0
24       A01       ST0001   201525  618699.0
25       A01       ST0001   201526  586721.0
26       A01       ST0001   201527  599043.0
27       A01       ST0001   201528  587529.0
28       A01       ST0001   201529  620882.0
29       A01       ST0001   201530  643984.0
..       ...          ...      ...       ...
129      A01       ST0002   201550  294579.0
130      A01       ST0002   201551  356271.0
131      A01       ST0002   201552  422468.0
132      A01       ST0002   201553  232523.0
133      A01       ST0002   201601  162801.0
134      A01       ST0002   201602  137186.0
135      A01       ST0002   201603  152763.0
136      A01       ST0002   201604  197057.0
137      A01       ST0002   201605  231214.0
138      A01       ST0002   201606  172230.0
139      A01       ST0002   201607  161324.0
140      A01       ST0002   201608  130000.0
141      A01       ST0002   201609  154149.0
142      A01       ST0002   201610  142575.0
143      A01       ST0002   201611  150915.0
144      A01       ST0002   201612  132780.0
145      A01       ST0002   201613  135788.0
146      A01       ST0002   201614  148835.0
147      A01       ST0002   201615  143180.0
148      A01       ST0002   201616  137927.0
149      A01       ST0002   201617  142279.0
150      A01       ST0002   201618  162560.0
151      A01       ST0002   201619  152980.0
152      A01       ST0002   201620  160913.0
153      A01       ST0002   201621  205984.0
154      A01       ST0002   201622  214929.0
155      A01       ST0002   201623  161983.0
156      A01       ST0002   201624  171592.0
157      A01       ST0002   201625  157283.0
158      A01       ST0002   201626  196489.0

[159 rows x 4 columns]

In [13]:
sortedData1["volume"][(maxLength-1)-(suborder+i):maxLength]

156    171592.0
157    157283.0
158    196489.0
Name: volume, dtype: float64

In [14]:
i=1

In [15]:
sortedData1["volume"][(maxLength-1)-(suborder+i):maxLength]

155    161983.0
156    171592.0
157    157283.0
158    196489.0
Name: volume, dtype: float64

In [16]:
#이동평균 빈셀 채우기
postList = []
maxLength = len(sortedData1)
for i in range(0,suborder):
    postList.append(sortedData1["volume"][-(i+suborder+1):maxLength].mean())
    sortedData1["ma"][maxLength-i-1] = postList[i]
postList

KeyError: 'ma'

In [17]:
preList = []
for i in range(0,suborder):
    preList.append(sortedData["volume"][0:suborder+i+1].mean())
    sortedData1.loc[i,"ma"] = preList[i]
preList

[457379.6666666667, 457642.5]

In [ ]:
#비율 계산하기
sortedData1["ratio"] = sortedData1["volume"]/sortedData1["ma"]
sortedData1

# 나의 풀이

In [17]:
## 패키지 불러오기
import pandas as pd
from sqlalchemy import create_engine

#DB커넥션 열기
engine = create_engine('oracle+cx_oracle://kopo:kopo@192.168.110.112:1521/orcl')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
productVolume = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)

productVolume["avg_volume"] = productVolume["volume"].rolling(window = 5, center=True , min_periods=1).mean()

productVolume["ratio"] = productVolume["volume"]/productVolume["avg_volume"]

productVolume

    regionid productgroup yearweek     volume     avg_volume     ratio
0        A01       ST0002   201512   151750.0  307746.333333  0.493101
1        A01       ST0001   201520   645626.0  433345.750000  1.489863
2        A01       ST0002   201520   125863.0  372476.400000  0.337909
3        A01       ST0001   201515   810144.0  476419.200000  1.700486
4        A01       ST0002   201515   128999.0  374187.400000  0.344744
5        A01       ST0001   201518   671464.0  443022.800000  1.515642
6        A01       ST0002   201518   134467.0  309053.400000  0.435093
7        A01       ST0001   201513   470040.0  388211.000000  1.210785
8        A01       ST0002   201513   140297.0  283020.000000  0.495714
9        A01       ST0001   201511   524787.0  409112.000000  1.282747
10       A01       ST0002   201511   145509.0  343166.600000  0.424019
11       A01       ST0001   201516   764927.0  451658.600000  1.693596
12       A01       ST0002   201516   140313.0  372434.800000  0.376745
13       A01       ST0001   201519   682757.0  428972.000000  1.591612
14       A01       ST0002   201519   128668.0  303484.200000  0.423969
15       A01       ST0001   201514   428195.0  372723.400000  1.148828
16       A01       ST0002   201514   137488.0  375672.400000  0.365978
17       A01       ST0001   201512   486509.0  375371.400000  1.296074
18       A01       ST0001   201517   697502.0  413810.800000  1.685558
19       A01       ST0002   201517   127163.0  415608.400000  0.305968
20       A01       ST0001   201507   620392.0  420642.400000  1.474868
21       A01       ST0002   201507   146476.0  311772.400000  0.469817
22       A01       ST0001   201510   511679.0  373990.000000  1.368162
23       A01       ST0002   201510   153152.0  274686.600000  0.557552
24       A01       ST0001   201502   438251.0  341867.600000  1.281932
25       A01       ST0002   201502   123875.0  275635.000000  0.449417
26       A01       ST0001   201505   482381.0  359360.800000  1.342331
27       A01       ST0002   201505   180516.0  303065.000000  0.595635
28       A01       ST0001   201508   571781.0  362348.000000  1.577989
29       A01       ST0002   201508   156772.0  288820.600000  0.542801
..       ...          ...      ...        ...            ...       ...
129      A01       ST0002   201619   152980.0  397433.800000  0.384919
130      A01       ST0001   201624   772706.0  521711.600000  1.481098
131      A01       ST0002   201624   171592.0  426017.000000  0.402782
132      A01       ST0001   201622   817878.0  534592.800000  1.529908
133      A01       ST0002   201622   214929.0  412234.200000  0.521376
134      A01       ST0001   201620   695859.0  520450.200000  1.337033
135      A01       ST0002   201620   160913.0  389386.600000  0.413247
136      A01       ST0001   201618   712672.0  503644.400000  1.415030
137      A01       ST0002   201618   162560.0  395929.200000  0.410578
138      A01       ST0001   201625   786218.0  522629.200000  1.504351
139      A01       ST0002   201625   157283.0  406650.800000  0.386777
140      A01       ST0001   201612   794413.0  617777.600000  1.285921
141      A01       ST0002   201612   132780.0  489049.000000  0.271507
142      A01       ST0001   201610  1218194.0  596576.400000  2.041975
143      A01       ST0002   201610   142575.0  466149.600000  0.305857
144      A01       ST0001   201617   694920.0  575287.000000  1.207954
145      A01       ST0002   201617   142279.0  360284.200000  0.394908
146      A01       ST0001   201615   678467.0  509054.600000  1.332798
147      A01       ST0002   201615   143180.0  397228.200000  0.360448
148      A01       ST0001   201613   886427.0  571088.600000  1.552171
149      A01       ST0002   201613   135788.0  465578.200000  0.291655
150      A01       ST0001   201611  1011581.0  564024.600000  1.793505
151      A01       ST0002   201611   150915.0  518393.200000  0.291121
152      A01       ST0001   201609   635412.0  518821.000000  1.224723
153      A01       ST0001   201616   658270.0  347334.600000  1.895204
154      A01       ST0002   201616   137927.0  465147.000000  0.296523
155      A01       ST0002   201609   154149.0  367831.600000  0.419075
156      A01       ST0001   201614   739977.0  385389.800000  1.920074
157      A01       ST0002   201614   148835.0  447255.500000  0.332774
158      A01       ST0001   201641   746061.0  544957.666667  1.369026

[159 rows x 6 columns]